
body {
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;    
    font-size: 15px;
    line-height: 1.6;
    color: white;   
}



*,
*:before,
*:after {
    box-sizing: border-box;
}


h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

p {
	margin: 0;
}

.container {
	width: 100%;
    max-width: 1200px;
	padding: 0 15px;
    margin: 0 auto;
}


a {
	text-decoration: none;
}



/* header */

.header {
	position: absolute;
	width: 100%;
	height: 60px;
	padding-top: 15px;
	z-index: 1000;
	
}

.header.fixed {
	position: fixed;
	background-color: white;

}


.header__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	
}

.logo {
	width: 176px;
	height: 28px;
	
}


/* nav */
.nav {
	display: flex;
	justify-content: space-between;
	font-size: 14px;
	
}

.nav_link {
	font-weight: normal;
	line-height: 24px;
	color: #505F98;
	text-decoration: none;
	margin-right: 60px;
}

.nav_link:hover {
	text-decoration: underline;
}

.nav_link:last-child {
	margin-right: 0;	
}


 /* Burger */
.burger {
	display: none;
	padding: 10px 2px;
	border: 0;
	
	background: none;
	
	cursor: pointer;
}

.burger_item {
	display: block;
	width: 30px;
	height: 3px;
	
	background-color: black;
	
	font-size: 0;
	
	color: transparent;
	
	position: relative;
}


.burger_item:before,
.burger_item:after {
	content: "";
	width: 100%;
	height: 100%;
	
	background-color: black;
	
	position: absolute;
	z-index: 1;
	left: 0;
}

.burger_item:before {
	top: -8px;
}

.burger_item:after {
	 bottom: -8px;
}


/* btn */

.btn {
	display: inline-block;
	width: 180px;
	height: 36px;
	
	background-color: #111B47;
	border-radius: 5px;
	
	text-align: center;
	padding: 7px;
	
	cursor: pointer;
	
	
	font-weight: 500;
	font-size: 12px;
	line-height: 18px;
	color: white;
	border: 2px solid #111B47;
}

.btn:hover {
	background-color: transparent;
	color: black;
}

.btn_gift {
	margin-right: 20px;	
}

.btn__footer {
	width: 109px;
	height: 26px;
	font-weight: 500;
	font-size: 12px;
	line-height: 18px;
	padding: 2px 0;
}


/* Intro */

.intro {
	display: flex;
	
	height: 900px;
		
	background: url(../assets/img/bg.png);
	background-position: right;	
	background-repeat: no-repeat;
	background-size: 1350px 910px;
}


.intro__inner {
	display: flex;
	margin-top: 261px;
	width: 50%;
}

.intro__title {
	width: 539px;
	height: 132px;
	font-weight: bold;
	font-size: 50px;
	line-height: 66px; 
	color: #091133;
	
}

.intro__suptitle {
	width: 539px;
	height: 208px;
	font-weight: normal;
	font-size: 18px;
	line-height: 30px;
	color: #505F98;
	
	margin-top: 20px;
}


.intro__knopki {
	margin-top: 50px;
}

.svg__reward {
	height: 512px;
	width: 426px;
	margin-top: -90px;
	margin-left: 80px;
}

.svg__gift {
	width: 256px;
	height: 239px;
    margin-top: -209px;
    margin-left: 416px;
}

/* description */

.description {
	height: 742px	;
}


.desc__inner {
	display: flex;
	padding-top: 90px;
}


	
.dest__title {
	width: 540px;
	height: 48px;
	font-weight: 500;
	font-size: 36px;
	line-height: 48px;
	color: #091133;
	margin-bottom: 20px;
}

.desc__suptitle {
	font-weight: normal;
	font-size: 16px;
	line-height: 26px;
	color: #6F7CB2;
	
	width: 540px;
	height: 112px;
	margin-bottom: 70px;
}

.happy {
	display: flex;
	flex-direction: row;
}


.desc__text {
	font-weight: 500;
	font-size: 16px;
	line-height: 26px;
	color: #091133;
}

.svg__smile {
	width: 32px;
	height: 32px;
	margin-right: 12px;
}

.svg__girl {
	width: 540px;
	height: 524px;
	margin-top: -65px;
    margin-left: 70px;
}	

/* instruction */

.instruction {
	height: 569px;
}


.inst__inner {
	display: flex;
	margin-top: -30px;
	
}

.inst__left {
	margin-right: 155px;
}

.inst__right {
	padding-top: 40px
}

.svg__flower {
	width: 480px;
	height: 315px;
}

.inst__title {
	width: 540px;
	height: 48px;
	font-weight: 500;
	font-size: 36px;
	line-height: 48px;
	color: #091133;
	margin-bottom: 20px
}

.inst__text {
	font-weight: normal;
	font-size: 16px;
	line-height: 26px;
	color: #6F7CB2;
	
	width: 540px;
	height: 112px;
	margin-bottom: 70px;
}



/* pricing */

.pricing {
	height: 1120px;
	background: url(img/Price-bg.jpg) center no-repeat;
	background-size: 100% 105%;
	

}

.price__inner {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	padding-top: 237px;
}

.price__title {
	width: 600px;
	height: 48px;
	font-weight: 500;
	font-size: 36px;
	line-height: 48px;
	color: #091133;
	margin-bottom: 20px;
	text-align: center;
	
}

.price__suptitle {
	width: 600px;
	height: 26px;
	font-weight: normal;
	font-size: 16px;
	line-height: 26px;
	color: #6F7CB2;
	
	
	text-align: center;
}


.price__body {	
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 50px;	
}

.body__price {
	
	width: 129px;
	height: 71px;
	background-color: white;
	font-weight: 500;
	font-size: 50px;
	line-height: 66px;
	
	color: #222F65;
	
	border-radius: 10px;
	
	text-align: center;
	padding: 5px 9px 0px 8px;
	
	border: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

  ::-webkit-input-placeholder {color:#222F65; opacity:1;}/* webkit */
  ::-moz-placeholder          {color:#222F65; opacity:1;}/* Firefox 19+ */
  :-moz-placeholder           {color:#222F65; opacity:1;}/* Firefox 18- */
  :-ms-input-placeholder      {color:#222F65; opacity:1;}/* IE */



.in {
	display: flex;
	flex-direction: row;
	font-weight: 500;
	font-size: 50px;
	line-height: 66px;
	color: #222F65;
	
	
}

h2 {
	font-weight: 500;
	font-size: 50px;
	line-height: 66px;
	color: #222F65;
	
	margin-right: 10px;
    padding: 4px;
}

.body__title {
	font-weight: normal;
	font-size: 16px;
	line-height: 26px;
	width: 350px;
	height: 26px;
	
	text-align: center;
	color: #37447E;
	margin-top: 20px;
}

.body__motto {
	font-weight: normal;
	font-size: 14px;
	line-height: 24px;
	width: 350px;
	height: 24px;
	text-align: center;	
	color: #5D6970;
	margin-top: 30px;
	margin-bottom: 20px;
}


.footer {
	margin-top: -431px;
	width: 100%;
	height: 216px;
	background: #E7ECFF center no-repeat;
	background-size: 100% 100%;
	
}

.bitcoin {
	margin-top: 215px;

	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-top: 60px;
	padding-bottom: 40px;
	
	border-bottom: 2px solid #e5e5e5;

}


.copyright {
	font-weight: 500;
	font-size: 14px;
	line-height: 24px;
	color: #939EA4;
}

.footer__inner {
	
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 20px;
	padding-bottom: 32px;
}

.social__icon {
	display: flex;
	justify-content: space-between;
}

.social_item {
		margin-right: 35px;
}

.svg__social {
	width: 16px;
	height: 16px;
	fill: #B0B8BC;	
}

.social_item:last-child {
	margin-right: 0;
}


/* ======media======== */

@media (max-width: 1270px) {
	
/* Intro */
	
	.intro__title {
		font-size: 40px;
		width: 445px;
    	height: 132px;

	}

	.intro__suptitle {
		font-size: 16px;
	}
	

	
	.intro__right {
		margin-left: 20px;
	}
	
	/* SVG */
	
	.svg__reward {
	height: 462px;
    width: 376px;

	}

.svg__gift {
	width: 186px;
    height: 179px;
	margin-top: -154px;
    margin-left: 342px;
	}
	
	
}

@media (max-width: 1205px) {

	/* Intro */
	
	.intro__title {
		font-size: 30px;
		line-height: 48px;
		width: 445px;
    	height: 110px;

	}

	.intro__suptitle {
		font-size: 16px;
	}
	

	
	.intro__right {
		margin-left: -100px;
	}
	
	/* SVG */
	
	.svg__gift {
	width: 186px;
    height: 179px;
	margin-top: -154px;
   	margin-left: 350px;
	}
	
	
	.svg__reward {
	height: 462px;
    width: 376px;
	margin-left: 50px;
	}

	.svg__gift {
	width: 186px;
    height: 179px;
	margin-top: -154px;
    margin-left: 350px;
	}
	
	
	.svg__girl {
	width: 440px;
	height: 424px;
	}
	
	.svg__flower {
	width: 440px;
	height: 424px;
	}
	
	
	/* content */
	
	.desc__right {
	margin-left: -80px;
	}
	
	.desc__suptitle {
		width: 510px;
	}
	
	.inst__right {
		margin-left: -120px;
	}
	
	.inst__title {
	font-size: 30px;
	line-height: 40px;
	}
	
	.inst__text {
	font-size: 16px;
    line-height: 26px;
    width: 500px;
	}

	
}

@media (max-width: 768px) {
	
	
	/* header */
	
		.header__inner {
		align-items: flex-start;
		padding-top: 15px;
	}

	
	.header__inner {
		justify-content: space-around;
	}
	
	
	/*nav */
	
	.nav {
		display: none;
		width: 100%;
		flex-direction: column;
		
		text-align: right;
		background-color: white;
		
		position: absolute;
		right: 0;
		top: 100%;
	
	}
	
	
	
	
	.nav.show {
		display: flex;
	}
	
	.nav_link {
		margin-right: 0;
		padding: 10px 50px;
		text-align: left;
		
	}
	
	.burger {
		display: none;
		
	}
	
	/* Intro */
	
	.intro {
  	background-size: 728px 567px;
    background-position-x: 494px;
    background-position-y: 370px;
		
	}
	
	
	.intro__inner {
		width: 100%;
		padding-left: 120px;
	}
	
	.intro__title {
    font-size: 40px;
    width: 510px;
    height: 110px;
	margin-bottom: 40px;
		
	}
	
	.intro__knopki {
	margin-top: 100px;
	text-align: center;
		
	}
	
	.intro__suptitle {
		margin-top: -20px;
		font-size: 22px;
		margin-bottom: 20px;
	}
	
	.intro__right {
		display: none;

	}
	
	
	/* description */
	
	.description {
    	height: 500px;
	}
	
	.desc__right {
		display: none;
	}
	
	.desc__inner {
		width: 100%;
		padding-left: 120px;
		padding-top: 0;
	}

	.dest__title {
		font-size: 40px;
		width: 510px;
		height: 110px;
		margin-bottom: -15px;
	}

	.desc__suptitle {
		
		font-size: 22px;
		margin-bottom: 100px;
	}

	.desc__text {
				font-size: 18px;

	}

	/* instruction */
	
	.inst__title {
		font-size: 40px;
	}

	.inst__text {
		font-size: 22px;
		line-height: 32px;
	}

	
	.inst__inner {
		padding: 0;
	}
	
	.inst__right {
		margin-left: 120px;
	}
	
	.inst__left {
		display: none;
		
	}
	
	
	/* pricing */ 
	
	.pricing {
		margin-top: 0;
		height: 1040px;
	}

	.price__title {
		font-size: 36px;
	}

	.price__suptitle {
		font-size: 22px;


	}
	
	.footer__inner {
		justify-content: center;
	}
	
	

.btn_body {
	width: 318px;
	height: 36px;
}
	
}

@media (max-width: 414px){
	
	html, body {
	overflow-x: hidden;
}
	
	.logo {
		margin-left: -10px;
	}
	
	.header__inner {
		align-items: flex-start;
		padding-top: 15px;
	}
	
	/* Intro */
	
	.intro {
    background-size: 423px 415px;
    background-position-x: 250px;
    background-position-y: 204px;
	height: 750px;
	margin-top: 70px;
}	

	
	.intro__inner {
		margin-top: 76px;
		padding-left: 35px; 

	}
	
	.intro__suptitle {
	font-size: 15px;
	line-height: 18px;
	width: 315px;
	height: 172px;
	
	}
	
	.intro__knopki {
	margin-top: 30px;
	display: flex;
	flex-direction: column;
	}
	
	.intro__title {
	font-size: 32px;
	line-height: 37px;
	width: 331px;
	height: 76px;
	margin-bottom: 30px;
		
	}
	
	/* button */
	
	.btn__header {
		display: none;
	}
	
	.burger {
		display: block;
		
	}
	
	
	.btn {
		text-align: center;
		padding: 0;
		
	}
	
	.btn_gift {
		margin-bottom:  10px;
		width:  318px;
		height: 36px;
		font-weight: 500;
		font-size: 16px;
		line-height: 26px;
		padding: 3px;
	}
	
	.btn_more {
		width:  318px;
		height: 36px;
		width:  318px;
		height: 36px;
		font-weight: 500;
		font-size: 16px;
		line-height: 26px;
		padding: 3px;
	}
	
	
		.btn_body {
		width: 308px;
		height: 32px;
		padding: 2px;
		font-weight: 500;
		font-size: 14px;
		line-height: 24px;
	}
	
	
		.btn__footer {
		display: none;
	}
	
	/*  description */
	
	.dest__title {
		width:  540px;
		height: 48px;
		font-weight: 500;
		font-size: 24px;
		line-height: 48px;
		margin-bottom: 20px;
	}
	
	.desc__inner {
		padding-left: 35px; 	
	}
	
	.desc__suptitle {
		width:  317px;
		height: 290px;
		font-weight: normal;
		font-size: 15px;
		line-height: 26px;
		margin-bottom: -20px;
	}
	
	
	/* instruction */
	
	.inst__inner {
	margin-left: 35px; 
	}
	
	.inst__right {
		margin-left: 0;
	}
	
	.inst__title {
	width:  540px;
	height: 48px;
	font-weight: 500;
	font-size: 24px;
	line-height: 48px
	}
	
	.inst__text {
	width:  317px;
	height: 290px;
	font-weight: normal;
	font-size: 15px;
	line-height: 26px;
	
	}
	
	/*pricing*/
	
	.pricing {
		background-size: 107% 114%;
	}
	
	.price__inner {
		padding-top: 0;
	}
	
	.price__title {
	font-weight: 500;
	font-size: 24px;
	line-height: 28px;
	width: 299px;
	height: 56px;
	margin-top: 117px;
	}
	
	.price__suptitle {
	font-weight: normal;
	font-size: 15px;
	line-height: 26px;
	}
	
	/* footer */
	
	.footer {
	height: 230px;
	}
	
	.footer {
		height: 251px;
		
	}
	
	.footer__inner {
		padding: 0;
	}
	
	.price__body {
		margin-bottom: 81px;
		font-weight: 500;
	font-size: 14px;
	line-height: 24px;
	}
	
	.price__suptitle {
		font-weight: normal;
	}
	
	.body__price {
		font-weight: 500;
		font-size: 50px;
		line-height: 66px;
		padding: 5px;
	}
	

	
	
	.bitcoin {
		display: flex;
		flex-direction: column-reverse;
		border-bottom: none;
	}
	
	.footer__logo {
		text-align: center;
	}
	
	.copyright {
		margin-top: 90px;
		text-align: center;
	}
	
	.social__icon {
		margin-top: -220px;
	}
	

}


@media (max-width: 375px) {
	
	.intro__inner {
		padding-left: 20px; 
	}
	
	.desc__inner {
		padding-left: 20px;
	}
	
	.inst__inner {
    	margin-left: 20px;
}
}
